<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/main.css"/>
    <script type="text/javascript" src="/static/admin/js/libs/modernizr.min.js"></script>
</head>
<style type="text/css">
    ul.pagination  li{
        float: left;
    }

    div.list-page{
        width: 400px;
        margin: 0 auto;
        text-align: center;
    }
</style>
<body>
{include file="Public/top" /}
<div class="container clearfix">
    {include file="Public/left" /}
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><span class="crumb-name">权限管理</span></div>
        </div>
        <div class="result-wrap">
            <form name="myform" id="myform" method="post">
                <div class="result-title">
                    <div class="result-list">
                        <a href="{:url('add')}"><i class="icon-font"></i>新增管理员</a>
                    </div>
                </div>
                <div class="result-content">
                    <table class="result-tab" width="100%">
                        <tr>
                            <th>ID</th>
                            <th>昵称</th>
                            <th>邮箱</th>
                            <th>注册时间</th>
                            <th width="8%">操作</th>
                        </tr>
                        {volist name="adminres" id="vo"}
                        <tr>
                            <td>{$vo.id}</td>
                            <td>{$vo.nickname}</td>
                            <td ><font color="6699FF">{$vo.email}</font></td>
                            <td>{$vo.regtime|date="Y-m-d H:m:s",###}</td>
                            <td>

                                {if condition="$vo['id'] neq 1"}
                                <a class="link-del" onclick="return confirm('你确定要除去该会员的管理员职务吗？');" href="{:url('del',array('id'=>$vo.id))}">辞退</a>
                                {/if}
                            </td>
                        </tr>
                        {/volist}
                    </table>
                    <div class="list-page" style="width: 800px;">{$adminres->render()}</div>
                </div>
            </form>
        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>