<title>星球管理</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/admin/css/main.css"/>
<script src="http://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
<h2>星球管理</h2>

<div>
	<form method="get" id="searchform" action="{:url('change_uname2')}">
	<p>星球名称：<?php  echo ($list[0]['gname']);?></p>
        <table class="result-tab" width="32%">
            <tr>
                <th>成员ID</th>
                <th>成员昵称</th>
            </tr>
            {volist name="member" id="vo"}
            <tr>
                {if condition="$vo['authorization'] eq 1"}
                <td><font color="red">{$vo.uid}</font></td>
                <td><font color="red">{$vo.uname}</font></td>
                {else /}
                <td>{$vo.uid}</td>
                <td>{$vo.uname}</td>
                {/if}
            </tr>
            {/volist}
        </table>
	    <p>原星球主人为：<?php  echo ($list[0]['uname']);?></p>
        <p>更改为：</p>
        <fieldset class="search">
	         <input type="text" name="new_uname" id="s" class="box inputText" placeholder="输入新主人名">
	         <input type="hidden" name="gid" value="<?php echo ($list[0]['gid']);?>">
	         <input type="hidden" name="old_uid" value="<?php echo ($list[0]['uid']);?>">
            <input type="hidden" name="pn" value="<?php echo $page;?>">
	          <button class="btn">确定</button>
	    </fieldset>
	</form>
</div> 