<title>星球管理</title>
<script src="http://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
<h2>星球管理</h2>

<div>
	<form method="get" id="searchform" action="{:url('change_gname2')}">
	    <p>原星球名为：<?php  echo ($list[0]['gname']);?></p>
        <p>更改为：</p>
        <fieldset class="search">
	         <input type="text" name="new_gname" id="s" class="box inputText" placeholder="输入星球名称">
	         <input type="hidden" name="gid" value="<?php echo ($list[0]['gid']);?>">
			<input type="hidden" name="old_gname" value="<?php echo ($list[0]['gname']);?>">
			<input type="hidden" name="pn" value="<?php echo $page;?>">
	          <button class="btn">确定</button>
	    </fieldset>
	</form>
</div> 