<div class="sidebar-wrap">
        <div class="sidebar-title">
            <h1>菜单</h1>
        </div>
        <div class="sidebar-content">
            <ul class="sidebar-list">
                <li>
                    <a href="{:url('admin/lst')}"><i class="icon-font"></i>常用操作</a>
                    <ul class="sub-menu">

                    </ul>
                </li>
                <li>
                    <a href="#"><i class="icon-font"></i>系统管理</a>
                    <ul class="sub-menu">
                        <li><a href="{:url('super/lst')}"><i class="icon-font"></i>权限管理</a></li>
                        <li><a href="{:url('post/get_post')}"><i class="icon-font"></i>帖子管理</a></li>
                        <li><a href="{:url('user/get_user')}"><i class="icon-font"></i>用户管理</a></li>
                        <li><a href="{:url('group/get_group')}"><i class="icon-font"></i>星球管理</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>