<div class="topbar-wrap white">
    <div class="topbar-inner clearfix">
        <div class="topbar-logo-wrap clearfix">
            <h1 class="topbar-logo none"><a class="navbar-brand" href="index.html">后台管理</a></h1>
            <ul class="navbar-list clearfix">
                <li><a target="_blank" class="on" href="http://www.wuanla.com">网站首页</a></li>
            </ul>
        </div>
        <div class="top-info-wrap">
            <ul class="top-info-list clearfix">
                <li><a href="">欢迎：<?php echo session('nickname');?></a></li>
                <li><a href="{:url('User/index')}">退出</a></li>
            </ul>
        </div>
    </div>
</div>